.sec1{
    background-image: url(./aaa.jpg);
    height: 800px;
    
    
    
    

}
.h1{
    margin-left: 130px;
    padding-top: 20px;
    font-size: 35px;
    color: azure;
}


.nav{
    display: flex;
     margin-left: 1000px; 
    position: relative;
    bottom:  110px;
    font-size: 30px;
}

.p1{
    color: rgb(134, 27, 27);
    padding: 2%;
}
.p1:hover{
    color: rgb(25, 0, 255);
}
.p2{
    padding: 2%;
    color: azure;
} 
.p2:hover{
    color: yellow;
}
.button1{
  position: relative;
  bottom: 100px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 7px;
  color: azure;
}
.button1:hover{
   background-color: aqua;
   color: brown;
}

.h2{
    text-align: center;
    color: azure;
   font-size: 40px;
   position: relative;
   bottom: 50px;
}
.h3{
    text-align: center;
    font-size: 50px;
    color: azure;
    position: relative;
    right: 190px;
    bottom: 70px;
}
.p3{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    position: relative;
    bottom: 70px;
}
.button2{
  margin-left: 920px;
  height: 55px;
  width: 180px;
  border: solid white 3px;
  border-radius: 200px;
  background-color: transparent;
  color: aliceblue;
  position: relative;
    bottom: 60px;

}
.button2:hover{
    
   color: rgb(255, 0, 0);
   
}
.button3{
    margin-left: 995px;
    width: 35px;
    height: 55px;
    background-color: transparent;
    color: aliceblue;
    position: relative;
      top: 80px;
      border: solid white 3px;
      border-radius: 200px;

 
}
.sec2{
    display: flex;
    margin: 120px;
    
    
    
}

.img1{
    width: 600px;
    height: 500px;
    border: solid red 4px;
}
.flex{
    display: flex;
    position: relative;
    left: 50px;
    bottom: 50px;
}
.h4{
    font-size: 35px;
    position: relative;
    left: 50px;
    bottom: 30px;

}
.h5{
    color: red;
}
.p4{
    position: relative;
     left: 50px;
     bottom: 50px;
     
   
    font-size: 22px;

}
.p5{
    position: relative;
    left: 50px;
    bottom: 50px;
    
   
   font-size: 22px;


}
.p6{
    position: relative;
    left: 50px;
    bottom: 50px;
    
  
   font-size: 22px;

}
.button4{
    height: 35px;
   color: aliceblue;
   background-color: black;
    position: relative;
    right: 128px;
    top: 330px;
    border-radius: 3px;
}
.div3{
    display: flex;
    width: 60px;
    height: 60px;
    position: relative;
    right: 1030px;
    top: 440px;
}
.img2{
margin: 4px;

border-radius: 50%;
border: solid red 2px;
}
.sec3{
    background-color: rgb(247, 247, 247);
    padding: 100px;
}
.h6{
    font-size: 35px;
    text-align: center;
   

}
.p7{
    font-size: 20px;
    text-align: center;

}
.p8{
    font-size: 20px;
    text-align: center;

}
.div4{
    display: flex;
      position: relative;
      top: 80px;
    
}
.img3{
    position: relative;
    left: 225px;
    top: 25px;
}
.div5{
    border: solid grey 2px;
    margin: 25px;
}
.h7{
    position: relative;
    left: 130px;
    top: 25px;
    font-size: 35px;


}
.p9{
    padding: 28px;
    font-size: 27px;
    position: relative;
    top: 20px;

    


}
.p10{
    font-size: 27px;
    text-align: center;
    position: relative;
    bottom: 30px;

}













.div6{
    display: flex;
      position: relative;
      top: 60px;
    
}
.img4{
    position: relative;
    left: 225px;
    top: 25px;
}
.div7{
    border: solid grey 2px;
    margin: 25px;
}
.h8{
    position: relative;
    left: 130px;
    top: 25px;
    font-size: 35px;


}
.p11{
    padding: 28px;
    font-size: 27px;
    position: relative;
    top: 20px;

    


}
.p12{
    font-size: 27px;
    text-align: center;
    position: relative;
    bottom: 30px;

}
.div8{
    margin: 80px; 
    text-align: center;
}
.button5{
    width: 80px;
    height: 40px;
    color: aliceblue;
    border-radius: 3px;
    background-color: rgb(212, 106, 106);
    transition-duration: 2s;
}







.sec4{
    background-color: rgb(247, 247, 247);
    padding: 100px;

}
.h9{
    text-align: center;
    font-size: 35px;
}
.p13{
    text-align: center;
    font-size: 20px;
    margin: 25px;

}
.img5{
    width: 50px;
    position: relative;
    left: 850px;
    top: 80px;
   
}
.img6{
    width: 120px;
    height: 120px;
    border-radius: 48%;
    position: relative;
    left: 850px;
  margin-top: 150px;
  border: solid red 4px;

}
.p14{
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 30px;
}
.div9{
    
    display: flex;
    margin-left: 800px;
    position: relative;
    top: 50px;
  
}
.div10{
    display: flex;
   
    margin-left: 870px;
    position: relative;
    top: 70px;
    padding-bottom: 100px;
    
   
}
.button6{
    background-color: rgb(238, 130, 130);
    margin: 3px;
    width: 20px;
    border-radius: 200px;
    
}
.button6:hover{
    background-color: red;
    width: 30px;
    height: 10px;
}
.sec5{
    margin: 120px;
}
.div11{
    text-align: center;
    font-size: 20px;
}
.div12{
    display: flex;
    
    text-align: center;
    font-size: 14px;
    position: relative;
    top: 60px;
    margin-left: 590px;

}
.h10{
    margin: 18px;
}
.button7{
    width: 60px;
    height: 30px;
    position: relative;
    top: 17px;
    right: 8px;
    border-radius: 200px;
    background-color: rgb(241, 123, 123);
    color: white;
    font-size: 18px;
}
.div13{
    display: flex;
   
    position: relative;
    top: 100px;
}
.img7{
    margin: 18px;
    width: 580px;
    border: solid rgb(241, 6, 6) 4px;
}
.div14{
    display: flex;
    
    position: relative;
    top: 100px;
}
.img8{
    margin: 18px;
    width: 580px;
    border: solid rgb(241, 6, 6) 4px;
}
.sec6{
    background-color: rgb(247, 247, 247);
   padding: 120px;
}
.h11{
    text-align: center;
    font-size: 35px;
}
.p16{
    text-align: center;
    font-size: 20px;

}
.div15{
    display: flex;
    margin-top: 100px;
  
    
}
.img9{
   
    width: 550px;
    border: solid rgb(0, 255, 21) 6px;
  
  margin: 20px;
  
}
.h12{
    font-size: 25px;
    position: relative;
    left: 27px;
}
.div16{
    background-color: white;
    border: solid black 2px;
    margin: 2px;
    
}
.div17{
    display: flex;
    position: relative;
    left: 25px;
    bottom: 20px;
}
.h13{
    color: red;
   margin-left: 10px;
   font-size: 20px;
   position: relative;
   bottom: 8px;
}


.p18{
    display: flex;
}
.p19{
   
   
    position: relative;
   
    bottom: 50px;
    left: 25px;
    margin-right: 40px;

}
.read{
    font-size: 20px;
    position: relative;
   
    bottom: 40px;
    left: 25px;

}
.sec7{
    margin: 120px;
}
.div18{
    text-align: center;
    font-size: 25px;
}
.div19{
    display: flex;
margin-left: 60px;
position: relative;
bottom: 100px;

}
.div20{
     margin: 200px; 
}
.img10{
    position: relative;
    left: 35px;
}
.p21{
    
    position: relative;
    right: 25px;
}
.p22{
    position: relative;
    left: 5px;
    font-size: 18px;

}
.form{
    margin: 10px;
    width: 48%;
    height: 50px;
    position: relative;
    right: 20px;
    bottom: 230px;
    font-size: 20px;
    border: solid rgb(85, 83, 83) 4px;
    border-radius: 5px;
}
.form1{
    width: 98%;
    height: 50px;
    position: relative;
    right: 10px;
    bottom: 210px;
    font-size: 20px;
    border: solid rgb(85, 83, 83) 4px;
    border-radius: 5px;
}
.text{
    width: 98%;
    height: 130px;
    position: relative;
    right: 10px;
    bottom: 150px;
    font-size: 20px;
    border: solid rgb(85, 83, 83) 4px;
    border-radius: 5px;
    font-size: 20px;
}
.send{
    height: 50px;
    width: 200px;
    position: relative;
    left: 87%;
    bottom: 130px; 
    
    background-color: rgb(212, 106, 106);
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
.sec8{
    background-color: black;
    height: 300px;


}
.last{
    position: relative;
    left: 45%;
    top: 100px;
margin: 2px;
border-radius: 50%;
    
}
.last1{
    color: white;
    font-size: 20px;
   padding-left: 42%;
   position: relative;
   top: 120px;

}  
 .lastbutton{
    background-color: rgb(238, 130, 130);
    width: 40px;
    height: 40px;
    color: white;
    font-size: 30px;
    position: relative;
    left: 97%;
    top: 160px;
    
} 




